@import "ember-power-select";
@import 'bootstrap';
@import 'bootstrap/theme';
@import 'colors';

@import 'schedule';
@import 'calendar';
@import 'forms';

.welcome-screen {
  color: #0099cc;
  font-family: sans-serif;
  font-size: 70px;
  margin: auto;
  padding-top: 150px;
  text-align: center;
}

.welcome-subtext {
  color: gray;
  font-family: sans-serif;
  font-size: 24px;
  text-align: center;
}

.user-list {
  // list-style-type: none;
  padding-left: 20px;
}
