.calendar {
  background-color: $pure-white;
  // height: 250px;
  margin: auto;
  // max-width: 250px;
}

.weekday {
  border: 1px solid $pure-black;
  // max-height: 50px;
  // max-width: 50px;
  min-height: 25px;
  min-width: 100px;
  // padding: 0;
}

.hour {
  border: 1px solid $pure-black;
  // max-height: 50px;
  // max-width: 50px;
  min-height: 25px;
  min-width: 100px;
  // padding: 0;
}
