<p class='welcome-screen'>FreeTime is a simple schedule keeper</p>
<p class='welcome-subtext'>A CODING EXERCISE USING EMBER.JS AND RUBY ON RAILS</p>
<p class="welcome-instructions">Read below for an overview of the web app's functionality</p>
<img class="img1" src="assets/images/freetime_screenshot_calendar.png" alt="">

<div class="section-blue">
  <div class="sub-section sub-section-image left">
    <img src="assets/images/freetime_signup.png" alt="">
  </div>

  <div class="sub-section sub-section-text right">
    <h4>Getting Started</h4>
    <p>Users create a login by entering an email address and password. Once signed in, they can start entering schedule information to fill up their calendar.</p>
  </div>
</div>

<div class="section-white">
  <div class="sub-section sub-section-text left">
    <h4>Adding a Schedule Item</h4>
    <p>Under "My Schedule", users can enter new schedule items by typing a title and selecting a day and time values from the dropdown menus.</p>
  </div>

  <div class="sub-section sub-section-image right">
    <img src="assets/images/freetime_add_schedule.png" alt="">
  </div>
</div>

<div class="section-blue">
  <div class="sub-section sub-section-image left">
    <img src="assets/images/freetime_calendar.png" alt="">
  </div>

  <div class="sub-section sub-section-text right">
    <h4>Viewing the Calendar</h4>
    <p>Clicking "Calendar" on the navigation brings up the calendar view and displays the entered schedule information.</p>
  </div>
</div>

<div class="section-white">
  <div class="sub-section sub-section-text left">
    <h4>Making Edits</h4>
    <p>Under "My Schedule", users can additionally edit previously entered items or choose to delete them.</p>
  </div>

  <div class="sub-section sub-section-image right">
    <img src="assets/images/freetime_schedule_edits.png" alt="">
  </div>
</div>
