<form {{action 'addUser' on='submit'}}>
  {{input placeholder='Username' class='input-group form-control' value=newSchedule.title}}
  <button type="submit" name="submit">Add Layer</button>
</form>
{{calendar-grid}}
