{{schedule-list schedule=schedule}}
<button class="btn btn-primary btn-xs" type="button" name="button" {{action 'edit'}}>Edit</button>
<button class="btn btn-danger btn-xs" type="button" name="button" {{action 'delete'}}>Delete</button>
